  <br/>
   <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <button class="btn btn-primary"
    [routerLink]="['/cadastro-funcionarios/novo']" >
      <h5><i class="material-icons">Adicionar novo funcionário</i></h5>
    </button>
  </div>
  <br/>
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <button class="btn btn-primary"
    [routerLink]="['/cadastro-lojas/novo']" >
      <h5><i class="material-icons">Adicionar nova loja</i></h5>
    </button>
  </div>
  <br/>
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <button class="btn btn-primary"
      (click)="regerar()" routerLink="">
      <h5><i class="material-icons">Regerar vínculos</i></h5>
  </button>
  </div>


